aiohttp==3.11.10
aiohttp_socks==0.9.1
beautifulsoup4==4.12.3
chardet==5.2.0
cloudscraper==1.2.71
discord.py==2.4.0
fake_useragent==2.0.3
flask[async]==3.1.0
Flask_Cors==5.0.0
jsonschema==4.23.0
motor==3.6.0
playwright==1.49.1
pymongo>=4.1,<5
pytz==2024.2
requests_tor==1.4
